.carousel_image{
    width: 100%;
    min-width: 1200px;
    height: 480px;
    background: red;    
}
.carousel_image img{
    width: 100%;
    height: 100%;
}
.index_content{
    width: 1200px;
    margin: auto
}
.result_exzbit{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content_image{
    width: 288px;
    margin-bottom: 6px;
    height: 190px;
    background: rgb(175, 255, 110)
}
.content_image img{
    width: 100%;
    height: 100%;
}
.lesson_mode{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.teaching_system{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.index_baoming{
    display: flex;
    padding: 20px 0;
}
.qrcode img{
    width: 50%;
    border: 1px solid orange;
}
.qrcode span{

color: rgba(16, 16, 16, 1);
font-size: 28px;

}
.qrcode{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px dashed skyblue;
}
.qrcode img{
    margin-top: 50px;
}

.field{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 .field_title{

color: rgba(16, 16, 16, 1);
font-size: 28px;

}

 .field_warn{
color: rgba(113, 110, 110, 1);
font-size: 14px;
}
.field_input{
    width: 360px !important;
}
.field_button{
    width: 360px !important;
    height: 40px !important;
}
.robet-fixed{
    position: fixed;
    bottom: 200px;
    right: 40px;
    width: 40px;
    height: 100px;
    display: flex;
   flex-direction: column;
   justify-content: space-between
}
.robet-fixed img{
    width: 100%;
}