
.teacher_head_info div{
color: rgba(0, 0, 0, 1);
font-size: 28px;

}
.teacher_head_info span{
    color: rgba(113, 110, 110, 1);
    font-size: 20px;
}
.teacher_detail_head img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid orange;
}
.teacher_detail_head{
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}