.app_header{
    height: 80px;
    line-height: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);

}
.menu_ul li{
    margin-right: 30px;
   
}
.menu_ul{
    overflow: hidden;
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 18px;
    height: 100%;
    color: #ffffff;
    list-style: none;
}
.menu_nav_active{
    border-bottom: red 2px solid;
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.menu_nav{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.logo{
    width: 300px;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.login{
    position: absolute;
    right: 50px;
}