.lesson_detail_head{
    padding: 20px 10px;
    /* width: 930px; */
    display: flex;
    height: 100%;
}
.head_left{
    width: 620px;
}
.head_right{
    width: 310px;
    border-left: 3px dashed blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.baoming span{
    color: orange
}
.baoming{

color: rgba(16, 16, 16, 1);
font-size: 36px;

}

.head_title{
    width: 205px;
    height: 42px;
    line-height: 42px;
    margin-right: 5px;
    background-color: rgba(50, 175, 255, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}
.head_subtitle{
    color: rgba(16, 16, 16, 1);
    font-size: 24px;
}
.head_titles{
    display: flex;
}

.leasson_mode{
    color: rgba(113, 110, 110, 1);
    font-size: 20px;
    margin-top: 35px;
}
.teacher_info{
    display: flex;
    width: 200px;
    margin-top: 35px;
    align-items: center;
    
    font-size: 14px;
}
.teacher_info span{
    margin-left: 5px;
}
.teacher_info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1px pink;
}
