.detail_frame{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.detail_frame_2{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
.frame_head{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;

}
.frame_content{
    width: 930px;
    margin-right: 20px
}
.frame_body{
    width: 100%;
    height: 740px;
}