.app_footer{
    min-width: 1200px;
    height: 80px;
    width: 100%;
    background-color: rgba(249, 248, 248, 1);
    text-align: center;

    color: rgba(154, 155, 158, 1);
    font-size: 16px;
    line-height: 80px;

}